
.header {
    background-color: rgb(234, 179, 8, 0.15);
    color: black;
    padding: 20px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 1000;
    font-size: 20px;
}

.scanner-button {
    margin: 10px 20px;
    padding: 10px 10px 10px 0;
    color: white;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    max-width: 100%;
    border: 1px solid white;
}